<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        {{>header}}
        <p>This help is created by {{name}}</p>
        {{>footer}}
    </body>
</html>